@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
}

.navbar-container .logo h3 {
    width: 150px;
}

.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

.navbar-container .nav-list li {
    list-style-type: none;
}

.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.navbar-container .nav-list li:hover a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

main {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 2rem 4rem;
}

.jumbotron {
    margin-top: 10vh;
    flex: 1;
    display: flex;
    align-items: center;
}

.jumbotron .content-description {
    flex: 1 1;
}

.jumbotron .content-description h1 {
    font-size: 3.5rem;
    margin-block: 1rem;
}

.jumbotron .content-description h3 {
    font-size: 1.5rem;
    margin-block: 1rem;
}

.jumbotron .content-description p {
    line-height: 1rem;
    font-size: 1.2rem;
}

.jumbotron .content-description button {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 3px solid transparent;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
    transition: all .15s ease-in;
}

.jumbotron .content-description button:hover {
    border: 3px solid black;
    color: black;
    background-color: transparent;
}

.jumbotron .content-image {
    flex: 1;
    display: flex;
}

.jumbotron .content-image img {
    margin: auto;
    min-width: 250px;
    width: 300px;
}

.about {
    margin-top: 10vh;
}

footer {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}